shaders/bin
qmake/Makefile.Debug
qmake/Makefile.Release
qmake/debug
qmake/lin64
qmake/rain_resource.rc
qmake/win64-dll
qmake/win64-mingw
qmake/.qmake.stash
qmake/Makefile
qmake/librain.o
qmake/mac64/
qmake/obj8.o
qmake/librain.zip
qmake/rain.def
plugin/qmake/debug
plugin/qmake/librain.plugin
plugin/qmake/Makefile.Debug
plugin/qmake/Makefile.Release
plugin/qmake/release
plugin/qmake/Makefile
